<html>
  <head>
    <title>Dashboard</title>
    <style>
      /* Add a background color */
      body {
        background-color: #f2f2f2;
      }
      
      /* Center the content on the page */
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      
      /* Add some padding to the content */
      .content {
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      
      /* Style the header */
      h1 {
        font-size: 36px;
        margin: 0 0 20px 0;
      }
      
      /* Style the "Test Score" text */
      p {
        font-size: 24px;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Welcome, <%= fname %> - <%= email %></h1>
        <br>
        <p>Test Score: <%= score %></p> 
        <hr>
      </div>
    </div>
  </body>
</html>
