<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TeamInnovation</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
      // add an event listener for the slider input for each question
      $('#q6').on('input', function() {
        $('#q6-value').text($(this).val());
      });
      $('#q7').on('input', function() {
        $('#q7-value').text($(this).val());
      });
      $('#q8').on('input', function() {
        $('#q8-value').text($(this).val());
      });
      $('#q9').on('input', function() {
        $('#q9-value').text($(this).val());
      });
      $('#q10').on('input', function() {
        $('#q10-value').text($(this).val());
      });
    });
  </script>
    <style>

    form {
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0px 0px 10px #ccc;
      border-radius: 10px;
      padding: 20px;
    }
  .form-group {
    margin: 1rem 0;
  }

  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #303030;
  }
    input[type=text] {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
  }
      input, select, textarea {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }
        input:focus, select:focus, textarea:focus {
      outline: none;
      border: 2px solid #00b0a9;
    }
        button {
      background-color: #00b0a9;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    button:hover {
      background-color: #008b83;
    }
  .form-group.hidden {
    display: none;
  }
   .error-message {
    color: red;
    margin-top: 0.5rem;
  }
    body {
    font-family: Arial, sans-serif;
    background-color: #e5f9f5;
    height: 100%;
    margin: 0;
  }
  
  header {
    background-color: #00b0a9;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
    margin-top: 20px;
  }
  
  header .header-actions {
    display: flex;
    align-items: center;
  }
  
  header .header-actions a {
    background-color: #fff;
    color: #00b0a9;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
  }
  
  nav {
    background-color: #00b0a9;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav a {
    color: #fff;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
  }
  
  main {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  section.summary {
    background-color: #fff;
    flex-basis: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  section.summary h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #00b0a9;
  }
  
  section.data {
    background-color: #fff;
    flex-basis: 100%;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  section.data h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #00b0a9;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #00b0a9;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #00b0a9;
    color: #fff;
  }
  
  footer {
    background-color: #00b0a9;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .leaderboard-and-points {
    height: 100%;
    display: flex;
  }
  
  .counter {
    background-color: #fff;
    padding: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #ccc;
    margin-right: 40px;
    order: -1;
    
  }
  
  .leaderboard {
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    height: 100%;
    overflow: auto;
  }
  
  .leaderboard table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leaderboard th, .leaderboard td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .leaderboard th {
    background-color: #00b0a9;
    color: #fff;
  }

  /* code break */

.user-info {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.user-info .username {
  font-weight: bold;
  margin-right: 0px;
}

.user-info .permission {
  font-style: italic;
}
  
    </style>
  </head>
  <body>
    <header>
      <h1>TeamInnovation Survey Dashboard</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/dashboard.ejs">Home</a></li>
        <li><a href="/points.ejs">Points</a></li>
        <li><a href="/goals.ejs">Goals</a></li>
        <li><a href="/survey.ejs">Surveys</a></li>
        <li><a href="/calendar.ejs">Calendar</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
     <main>
  

  <form action="/surveys" method="post">

   <div class="form-group">
    <h1 style="font-size: 40px; text-align: center;">Employee Survey</h1>
    </div>


      <!-- Question 1 -->
      
     <!-- Question 1 -->
<% if (surveyData && surveyData.q1_yn_selected === 1) { %>
  <div class="form-group">
    <label for="q1">I would recommend this company as a great place to work.</label>
    <select id="q1" name="question1">
      <option value=""></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>
<% } %>

<br><br>

<!-- Question 2 -->
<% if (surveyData && surveyData.q2_yn_selected === 1) { %>
  <div class="form-group">
    <label for="q2">I believe there are good career opportunities for me at this company.</label>
    <select id="q2" name="question2">
      <option value=""></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>
<% } %>

<br><br>

<!-- Question 3 -->
<% if (surveyData && surveyData.q3_yn_selected === 1) { %>
  <div class="form-group">
    <label for="q3">I genuinely identify with the values of this company.</label>
    <select id="q3" name="question3">
      <option value=""></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>
<% } %>

<br><br>

<!-- Question 4 -->
<% if (surveyData && surveyData.q4_yn_selected === 1) { %>
  <div class="form-group">
    <label for="q4">This company effectively communicates the goals and strategies set by management.</label>
    <select id="q4" name="question4">
      <option value=""></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>
<% } %>

<br><br>

<!-- Question 5 -->
<% if (surveyData && surveyData.q5_yn_selected === 1) { %>
  <div class="form-group">
    <label for="q5">I know what is expected of me to be successful in my role.</label>
    <select id="q5" name="question5">
      <option value=""></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>
<% } %>

<br><br>

      <!-- Question 6 -->
      <% if (surveyData && surveyData.q1_scale_selected === 1) { %>
      <div class="form-group" >
      <label for="q6">How would you rate your work-life balance?</label>
      <input type="range" id="q6" name="q6" min="0" max="10" value="5">
      <div>Value: <span id="q6-value"></span></div>
      </div>
      <% } %>

      <br><br>

      <!-- Question 7 -->
      <% if (surveyData && surveyData.q2_scale_selected === 1) { %>
      <div class="form-group" >
      <label for="q7">How satisfied are you in your current role?</label>    
      <input type="range" id="q7" name="q7" min="0" max="10" value="5">
      <div>Value: <span id="q7-value"></span></div>
      </div>
      <% } %>

      <br><br>

      <!-- Question 8 -->
      <% if (surveyData && surveyData.q3_scale_selected === 1) { %>
      <div class="form-group" >
      <label for="q8">How valued do you feel at work?</label>
      <input type="range" id="q8" name="q8" min="0" max="10" value="5">
      <div>Value: <span id="q8-value"></span></div>
      </div>
      <% } %>

      <br><br>

      <!-- Question 9 -->
      <% if (surveyData && surveyData.q4_scale_selected === 1) { %>
      <div class="form-group" >
      <label for="q9">How would you rate the performance of your direct supervisor?</label>
      <input type="range" id="q9" name="q9" min="0" max="10" value="5">
      <div>Value: <span id="q9-value"></span></div>
      </div>
      <% } %>

      <br><br>

      <!-- Question 10 -->
      <% if (surveyData && surveyData.q5_scale_selected === 1) { %>
      <div class="form-group" >
      <label for="q10">How would you rate your colleagues and team members?</label>
      <input type="range" id="q10" name="q10" min="0" max="10" value="5">
      <div>Value: <span id="q10-value"></span></div>
      </div>
      <% } %>

      <br><br>

      <!-- Question 11 -->
      <% if (surveyData && surveyData.q1_fr_selected === 1) { %>
      <div class="form-group" >
        <label for="q11">What changes in the company would make you more satisfied with your job?</label>
        <input type="text" id="q11" name="question11">
      </div>
      <% } %>

      <br><br>

      <!-- Question 12 -->
      <% if (surveyData && surveyData.q2_fr_selected === 1) { %>
      <div class="form-group" >
        <label for="q12">What is one thing you would like senior leadership to know?</label>
        <input type="text" id="q12" name="question12">
      </div>
      <% } %>

      <br><br>

      <!-- Question 13 -->
      <% if (surveyData && surveyData.q3_fr_selected === 1) { %>
      <div class="form-group" >
        <label for="q13">Which company value resonates with you the most? The least?</label>
        <input type="text" id="q13" name="question13">
      </div>
      <% } %>

      <br><br>

      <!-- Question 14 -->
      <% if (surveyData && surveyData.q4_fr_selected === 1) { %>
      <div class="form-group" >
        <label for="q14">Are you happy with the direction the company is headed?</label>
        <input type="text" id="q14" name="question14">
      </div>
      <% } %>

      <br><br>

      <!-- Question 15 -->
      <% if (surveyData && surveyData.q5_fr_selected === 1) { %>
      <div class="form-group" >
        <label for="q15">What's one thing our company can do to support your wellbeing?</label>
        <input type="text" id="q15" name="question15">
      </div>
      <% } %>

      <br><br>

      <div class="form-group" >
        <button type="submit" id="submit-btn">Submit</button>
      </div>
  </form>



    </main>
    <br><br>
    <footer>
      <p>&copy; 2023 TeamInnovation Inc.</p>
    </footer>